@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Red+Hat+Display:wght@500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

button:hover {
  background-color: #2747e8;
}

.page {
  /* width: 1440px; */
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 3rem;
  width: 120rem;
}

.name div {
  font-size: 2.3rem;
  font-weight: 700;
  color: #4460ef;
}

.name div:nth-child(2) {
  font-size: 2rem;
  font-weight: 500;
  color: black;
}

.title h1 {
  font-size: 5.7rem;
  font-weight: 600;
  color: #4460ef;
  margin-bottom: 2rem;
}

.log {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.log h2 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.log button {
  width: 13.3rem;
  height: 3.5rem;
  border-radius: 15px;
  border: none;
  color: #ffffff;
  background-color: #4460ef;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
}

.underline {
  margin: auto;
  width: 123.2rem;
  height: 3px;
  background-color: #4460ef;
  margin-bottom: 3rem;
  margin-top: 0;
}

.todocontainer {
  /* display: flex; */
}

.subjects {
  display: flex;
  flex-wrap: wrap;
  width: 75.3rem;
  align-items: center;
  justify-content: space-between;
}

.board-container-exam {
  width: 121.3rem;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board-mid {
  width: 93rem;
  background: rgba(68, 96, 239, 0.03);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  margin-bottom: 5rem;
  overflow: hidden;
}

.board-mid h1 {
  font-size: 2.5rem;
  font-weight: 500;
  color: #4460ef;
  text-decoration: underline;
  margin-bottom: 5rem;
}

.exam div {
  width: 80rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 5.3rem;
  margin-top: -3rem;
}

.exam div span {
  font-size: 1.65rem;
  font-weight: 400;
  width: 17rem;
  text-align: left;
  height: 3rem;
  overflow: hidden;
  color: #767b81;
}

.exam div span:nth-child(1) {
  font-size: 2rem;
  font-weight: 500;
  width: 17rem;
  text-align: left;
  height: 3rem;
  overflow: hidden;
  color: black;
}

.exam a {
  width: 16.5rem;
  height: 4.3rem;
  background-color: #4460ef;
  border: none;
  border-radius: 10px;
  font-size: 1.8rem;
  color: white;

  font-weight: 500;
}

.btn-link {
  font-weight: 500 !important;
  color: #ffffff !important;
  font-size: 1.2rem !important;
  font-family: "Poppins", sans-serif;
}

.btn {
  display: inline-block;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  background-color: #4460ef !important;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 16.5rem;
  height: 4.3rem;
  color: #ffffff;
}

.board-right {
  width: 87.5rem;
  height: 56.6rem;
  background: rgba(68, 96, 239, 0.03);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  margin-bottom: 5rem;
  overflow: hidden;
}

.board-right h1 {
  font-size: 2.5rem;
  font-weight: 500;
  color: #4460ef;
}

.subjects {
  margin-top: -2rem;
}

.img-box {
  height: 12.5rem;
  margin-bottom: 1rem;
}

.image-card {
  max-width: 163px !important;
  text-align: center;
}

.subject-image {
  max-width: 101px;
  height: 125px;
  object-fit: cover;
  color: #4460ef;
}

.img-box img:nth-child(2) {
  max-width: 101px;
  height: 12rem;
  object-fit: cover;
  color: #4460ef;
}

.board-right .card-body {
  text-align: center;
}

.card-body h2 {
  text-decoration: none;
  color: rgb(43, 42, 42);
}
