@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Red+Hat+Display:wght@500;700;900&display=swap");

.finance-error-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.temp-img{
    width: 8rem;
    filter: invert(11%) sepia(100%) saturate(4617%) hue-rotate(338deg) brightness(111%) contrast(115%);
    margin-bottom: 3rem;
}

.finance-error{
    width: 80rem;
    height: auto;
    background: rgba(68, 96, 239, 0.03);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 5rem;
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exam_card_page{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.exam_card{
    width: auto;
    height: auto;
    padding: 2rem;
    background: #f9fafe;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.exam_card_details{
    margin-right: 5rem;
}

.exam_card_details h1{
    font-size: 3rem;
    color: #4460ef;
}

.exam_card_icon img{
    filter: invert(31%) sepia(67%) saturate(5179%) hue-rotate(227deg) brightness(102%) contrast(87%);
}
