* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page h1 {
  font-size: 7.5rem;
  font-weight: 300;
  margin-bottom: 5rem;
}

.sign-in {
  width: 127rem;
  height: 61rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fill {
  width: 127rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.image img {
  width: 61rem;
}

.details {
  width: 55rem;
  height: 42rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 10rem;
  color: #626060;
}

.details label {
  font-size: 2.5rem;
  margin-bottom: 1.2rem;
}

.details input {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  width: 87%;
  margin-bottom: 4.6rem;
  font-size: 2rem;
}

input:focus {
  outline: none;
}

.details button {
  width: 87%;
  height: 3.5rem;
  font-size: 2rem;
  font-family: "poppins", sans-serif;
  background-color: #4460ef;
  color: white;
  border: none;
}
