* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.page {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12rem;
}

.assgdetails-card {
  width: 121rem;
  height: auto;
  background: #f9fafe;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 3.5rem;
}

.detailbox {
  width: 108rem;
  height: auto;
  margin-bottom: 2rem;
}

.detailbox h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 3.4rem;
  margin-bottom: 0;
  color: #4460ef !important;
}

.detailbox h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 4.3rem;
  line-height: 64px;
  margin-bottom: 3.5rem;
}

.detailbox h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 2.5rem;
  line-height: 34px;
  margin-bottom: 3rem;
}

.detailbox p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 34px;
  margin-bottom: 0;
}

.detailbox a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 21px;
  text-align: center;
  color: #6b80ec !important;
}

form {
  display: flex;
  align-items: center;
}

/* form button {
  width: 170px;
  height: 42.87px;
  background: #4460ef;
  border-radius: 10px;
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #ffffff;
  margin-right: 3rem;
}
* form input {
  width: 170px;
  height: 42.87px;
  background: #4460ef;
  border-radius: 10px;
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #ffffff;
  margin-right: 3rem;
} */
