.rows {
  margin-top: 25rem !important;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.board-right .card-body {
  text-align: center;
}

.card-body h2 {
  text-decoration: none;
  color: rgb(43, 42, 42);
}

.img-box {
  height: 12.5rem;
  margin-bottom: 1rem;
}

.subject-image {
  max-width: 101px;
  object-fit: cover;
  color: #4460ef;
}

.image-card {
  /* background-color: #4460ef; */
  max-width: 163px !important;
  text-align: center;
  border-radius: 15px;
}
